body {
  font-family: Arial, sans-serif;

  background: linear-gradient(to left, #270d3e, #7c5ebc);
}

.container {
  max-width: 600px;
  margin-bottom: 20px;
  margin-top: 4px;
  background-color: #dad7f7;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 8px 8px 8px rgba(232, 192, 249, 0.3);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

fieldset {

  background-color: white;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 33px;
  flood-color: #321050;

}



.btn-warning {


  background-color: black;

  color: #dad7f7;


  border-radius: 15%;
  font-size: large;

  border-bottom-width: 4.6px;
  border-bottom-style: solid;
  border-right-width: 4.6px;
  border-right-style: solid;


  border-color: #2d0f4a;

  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 14px;
  padding-left: 17px;
  margin-left: 267px;
  margin-right: 241px;
  margin-bottom: 7px;
  margin-top: 7px;

  min-height: fit-content;
  max-width: auto;
  position: static;

}


.btn-warning:hover {
  color: #2d0f4a;
  background-color: #ffcd2a;
  border-color: #ffdc6b;
}

input[type="radio"] {
  accent-color: #ffcd2a;
}

img {

  width: 624px;
  height: 573px;


  position: fixed;
  bottom: 0;
  left: 0;
}