

body {
    font-family: Arial, sans-serif;
     /* background-color: #2d0f4a;  */
     background: linear-gradient(to left, #270d3e, #7c5ebc);
}

.container {
    max-width: 600px; 
     margin: 20px ; 
    background-color: #dad7f7;
     padding: 20px; 
    border-radius: 30px; 
    box-shadow: 8px 8px 8px  rgba(232, 192, 249, 0.3);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
fieldset {
   
    background-color: white;
    border-radius: 20px;
    margin-top: 40px;
  margin-bottom: 33px;
  flood-color: #321050;
  
}



  .btn-warning{
    background-color: black;
    color: #dad7f7;
    
    top: 493.2px;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 15%;
    font-size: large;
    left: 259.85px;
  
  right: 283px;
  border-color: #2d0f4a;
  margin-left: 258px;
  
}
    
  
  .btn-warning:hover {
    color: #2d0f4a;
    background-color: #ffcd2a;
    border-color: #ffdc6b;
  }
  
  input[type="radio"] {
    accent-color: #ffcd2a; 
}

img{
   
    width: 624px;
  height: 573px;
    /* margin-top: -494px ; 
    
    margin-right: 1070px ;
    
    margin-left: -82px ;
    padding-left: 0px ;
   
    padding-bottom: 4px ; */
 

position: fixed;
bottom: 0;
left: 0;
}
